.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #6c757d; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    -webkit-border-top-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
    -webkit-border-top-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0; }

.nav-pills .nav-link {
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff; }

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center; }

.nav-justified .nav-item {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0; }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0; }
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      top: 0;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: #000; }

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem; }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #000; }

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0; }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0; }
    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      bottom: 0;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000; }

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem; }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      left: 0;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: #000; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: #76797e;
  text-decoration: none; }

.wrapper {
  color: #76797e;
  height: 100%; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px); }

.header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  margin: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 15px 0px 15px 40px; }
  .logo .img-logo {
    margin-right: 70px; }
  .logo .hamburger {
    border: none;
    background-color: #fff;
    margin-top: 15px;
    color: #9a9fa7;
    cursor: pointer; }

.right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.06); }

.search-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  color: #9a9fa7;
  padding-left: 40px; }
  .search-part .search-icon {
    font-size: 12px;
    margin-right: 10px;
    padding-top: 2px; }
  .search-part .input-search {
    border: none;
    font-size: 14px; }

.profile-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-right: 0; }
  .profile-info .signal-icons {
    border-left: 1px solid #e5e8ee;
    border-right: 1px solid #e5e8ee;
    padding: 7px 30px;
    margin: auto; }
  .profile-info .messenger,
  .profile-info .bell {
    display: inline-block; }

.icon {
  cursor: pointer;
  background: #f4f4f4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #91969f;
  display: block;
  font-size: 14px;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
  text-align: center; }
  .icon .fas {
    margin: 13px 0; }
  .icon span {
    position: absolute;
    top: -5px;
    right: -7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #ffffff;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px; }

.bell span {
  background: #ff7473; }

.messenger {
  margin-right: 20px; }
  .messenger span {
    background: #1585ff; }

.icon:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #979fad;
          box-shadow: 0px 0px 15px 2px #979fad; }

.profile_photo {
  border: 2px solid #b0cff6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 40px;
  overflow: hidden; }

.profile_photo:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #979fad;
          box-shadow: 0px 0px 15px 2px #979fad; }

.aside {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  max-width: 300px;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .aside__list {
    margin-right: 6px; }
  .aside__title {
    padding: 20px 0 0 35px; }
  .aside__item {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .aside__item:hover {
      background-color: #f2f4f7; }
      .aside__item:hover a {
        border-left: 6px solid #1585ff; }
    .aside__item a {
      border-left: 6px solid transparent;
      display: block;
      padding: 20px 0 20px 35px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .aside__item a i {
        margin-right: 24px; }
  .aside__active {
    max-width: 100px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .aside__active a {
      color: transparent; }
      .aside__active a i {
        color: #76797e; }

.main-content {
  background-color: #f8f8f8;
  width: 100%; }

/*begin tab header*/
.history {
  height: 80px;
  text-align: center;
  border-bottom: 3px solid #f8f8f8; }
  .history__item {
    height: 100%; }
    .history__item a {
      height: 80%;
      color: #999da5;
      line-height: 60px; }
  .history__item:first-child {
    margin-left: 35px; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-top: 3px solid #1585ff;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #f2f4f7;
  color: #1585ff; }

/*end header tabs*/
.section {
  padding: 0 35px; }
  .section .title-story {
    color: #a9acb3;
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 25px; }
  .section__signal {
    position: absolute;
    top: -4px;
    left: -7px;
    min-width: 10px;
    height: 10px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    border: 3px solid #c0f0c4;
    background-color: #0ac51b; }
  .section__list-item {
    position: relative; }
    .section__list-item .text-content {
      padding: 0 0 25px 20px;
      border-left: 2px solid #eceff3; }
      .section__list-item .text-content p {
        color: #76797e;
        font-size: 14px;
        margin-top: 0; }
      .section__list-item .text-content .news-photo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        overflow: hidden; }
    .section__list-item .text-last {
      border-left: none; }

.list-item__photo {
  width: 100%;
  margin: 0 10px 15px 0; }

.signal_violet {
  border: 3px solid #e0d8fb;
  background-color: #886aef; }

.signal_blue {
  border: 3px solid #c2dfff;
  background-color: #1585ff; }

.text-block {
  padding: 15px 20px 0 15px;
  border: 1px solid #eceff3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f9f9f9;
  color: #76797e;
  margin-bottom: 15px; }

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
  background-color: #f8f8f8; }
  .profile__content {
    background-color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #999da5;
    width: -webkit-calc(66% - 30px);
    width: calc(66% - 30px);
    margin: 0 30px 80px 0;
    -webkit-box-shadow: 0px 2px 20px 1px #979fad;
            box-shadow: 0px 2px 20px 1px #979fad; }
  .profile__sidebar {
    width: 34%; }
  .profile__sidebar-section {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px 1px #979fad;
            box-shadow: 0px 2px 20px 1px #979fad;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 35px;
    margin-bottom: 60px; }

.prof-item {
  padding-bottom: 35px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px; }

.large_photo {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  margin: auto; }

.about {
  text-align: center; }
  .about h3 {
    color: #1d2025; }
  .about span {
    display: block;
    margin-bottom: 10px; }
  .about .adress {
    color: #999da5;
    margin-bottom: 40px; }

.connect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .connect button {
    min-width: 170px;
    padding: 20px 10px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    -webkit-box-shadow: 0px 3px 27px 0px rgba(151, 159, 173, 0.75);
            box-shadow: 0px 3px 27px 0px rgba(151, 159, 173, 0.75);
    cursor: pointer; }
  .connect .follow {
    color: #1585ff;
    border: 1px solid #c3dffd;
    background-color: #fff; }
  .connect .edit {
    color: #fff;
    background-color: #1585ff;
    border: none; }

.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px; }
  .rating span {
    display: block; }

.stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffbc0a; }

.prof-inf-footer {
  text-align: center;
  color: #999da5;
  font-size: 14px; }

.payment li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.main-content__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 40px 35px;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /*tooltips*/ }
  .main-content__header .profile-main-inf h3 {
    color: #1d2025; }
  .main-content__header .profile-main-inf a:hover {
    font-size: 18px;
    font-weight: bold; }
  .main-content__header .line {
    display: inline-block;
    width: 1px;
    height: 14px;
    border-right: 1px solid #1d2025;
    margin: 0 14px; }
  .main-content__header .statistic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 18.72px; }
  .main-content__header .incom,
  .main-content__header .trafic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .main-content__header .incom__info span,
    .main-content__header .trafic__info span {
      display: block;
      margin-right: 15px; }
    .main-content__header .incom__price,
    .main-content__header .trafic__price {
      color: #1585ff;
      font-size: 18px; }
  .main-content__header .incom-col,
  .main-content__header .trafic-col {
    background-color: #979fad;
    width: 4px;
    margin-right: 4px;
    height: 8px; }
  .main-content__header .incom-col:hover {
    background-color: #ff7473; }
  .main-content__header .trafic-col:hover {
    background-color: #1585ff; }
  .main-content__header .statistic__diagram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .main-content__header .statistic__diagram .col-1 {
      height: 15px; }
    .main-content__header .statistic__diagram .col-2 {
      height: 12px; }
    .main-content__header .statistic__diagram .col-3 {
      height: 8px; }
    .main-content__header .statistic__diagram .col-4 {
      height: 10px; }
    .main-content__header .statistic__diagram .col-5 {
      height: 30px;
      background-color: #ff7473; }
    .main-content__header .statistic__diagram .col-6 {
      height: 16px; }
    .main-content__header .statistic__diagram .col-7 {
      height: 22px; }
    .main-content__header .statistic__diagram .col-8 {
      height: 28px; }
    .main-content__header .statistic__diagram .col-9 {
      height: 38px; }
    .main-content__header .statistic__diagram .col-10 {
      height: 20px; }
  .main-content__header .incom {
    margin-right: 80px; }
  .main-content__header .tooltip > .tooltip-inner {
    background-color: #ff7473; }
