.wrapper {
	width: 1200px;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 14px;
}

.hero {
	width: 100%;
	background-color: #f8f8f8;
}

.navigation {
	padding: 0px 40px;
	margin: 15px;
}

.logo {
	display: inline-block;
	float: left;
	margin: 5px;
}

.header-top {
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.search-part {
	display: flex;
	margin: auto 0;
}

.search-icon {
	color: #9da0a4;
	font-size: 12px;
	margin-right: 10px;
	padding-top: 2px;
}

.input-search {
	color: #9da0a4;
	border: none;
	font-size: 14px;
}

.profile {
	display: flex;
}

.signal-icons {
	border-left: 1px solid #e5e8ee;
	border-right: 1px solid #e5e8ee;
	padding: 7px 30px;
	margin: auto;
}

.wrapper-messenger,
.wrapper-bell {
	display: inline-block;
}

.wrapper-messenger {
	margin-right: 20px;
}

.messenger,
.bell {
	position: relative;
	margin: auto;
	height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  background: #f4f4f4;
  color: #91969f;
  font-size: 14px;
  text-align: center;
}

.messenger .fas,
.bell .fas {
	margin: 13px 0;
}

.bell span,
.messenger span {
  position: absolute;
  top: -5px;
  right: -7px;
  border-radius: 50%;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 18px
}
.bell span {
	background: #ff7473;
}

.messenger span {
  background: #1585ff;
}

.profile_img {
	width: 50px;
	height: 50px;
	border: 2px solid #b0cff6;
	border-radius: 50%;
	background-color: #f1f1f1;
	margin: 0 40px;

}

/*end header top*/

.header-bottom {
	border: 1px solid #000;
	height: 120px;
	margin-bottom: 50px;
	background-color: #fff;
}