.main-content {
	background-color: $primeryBackground;
	width: 100%;	
}

/*begin tab header*/
.history {
	height: 80px;
	text-align: center;
	border-bottom: 3px solid $primeryBackground;

	&__item {
		height: 100%;
			a {
				height: 80%;
				color: #999da5;
				line-height: 60px;
			}
	 }

	&__item:first-child {
		margin-left: 35px;
	}
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	border-top: 3px solid $primaryBlue;
	border-radius: 0;
	background-color: #f2f4f7;
	color: $primaryBlue;
}
/*end header tabs*/

.activity-wrap {
	overflow: auto;
	height: 970px;
}

.section {
	padding: 0 35px;

	.title-story {
		color: #a9acb3;
		font-size: 12px;
		margin-bottom: 25px;
		padding-top: 10px;
	}	

	&__signal {
		position: absolute;
   		top: -4px;
   		left: -7px;
		min-width: 10px;
		height: 10px;
		border-radius: 50px;
		border: 3px solid $greenBorder;
		background-color: $green;	
	}

	&__list-item {
		position: relative;

		 .text-content {
		 		padding: 0 0 20px 20px;
		 		border-left: 2px solid #eceff3;
		 		p {
		 			color: #76797e;
		 			font-size: 14px;
		 			margin-top: 0;
		 		}

		 	.news-photo {
		 		display: flex;
		 		justify-content: flex-start;
		 		overflow: hidden;
		 	}
		 }
		 .text-last {
		 	border-left: none;
		 }
	}
}

.list-item__photo {
	margin: 0 10px 15px 0;		
}

.signal_violet {
	border: 3px solid $violetBorder;
	background-color: $violet;
}

.signal_blue {
	border: 3px solid $blueBorder;
	background-color: $primaryBlue;
}


.text-block {
	padding: 15px 20px 0 15px;
	border: 1px solid #eceff3;
	border-radius: 5px;
	background-color: #f9f9f9;
	color: $fontColor;
	margin-bottom: 15px;
}









