@mixin title {
    font-size: 32px;
    color: red;
    margin: 20px;
    background: yellow; 
}

@mixin decor-icon {
    background: #f4f4f4;
    border-radius: 50%;
    color: #91969f;
    display: block;
    font-size: 14px;
    width: 40px; 
    height: 40px;
    margin: auto;
    position: relative;
    text-align: center;
}

@mixin signal-number {
  position: absolute;
  top: -5px;
  right: -7px;
  border-radius: 50%;
  color: #ffffff;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 18px
}

@mixin fixed-to-top($top: 0, $left: 0) {
    position: fixed;
    top: $top;
    left: $left;
}

@mixin absolute-to-top($top: 0, $left:0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin position-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin position-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
