.profile {
	display: flex;
	padding: 35px;
	background-color: $primeryBackground;
	&__content {
		background-color: #fff;
		border-radius: 5px;
		color: #999da5;
		width: calc(66% - 30px);
		margin: 0 30px 80px 0;
		box-shadow: 0px 2px 20px 1px rgba(151,159,173,1);
	}

	&__sidebar {
		width: 34%;
	}

	&__sidebar-section {
		background-color: #fff;
		box-shadow: 0px 2px 20px 1px rgba(151,159,173,1);
		border-radius: 5px;
		padding: 35px;
		margin-bottom: 60px;
	}
}

.prof-item {
	padding-bottom: 35px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
}

.large_photo {
	width: 100px;
	height: 100px;
	background-color: #f1f1f1;
	margin: auto;
}

.about {
	text-align: center;
	h3 {
		color: #1d2025;
	}
	span {
		display: block;
		margin-bottom: 10px;
	}
	.adress {
		color: #999da5;
		margin-bottom: 40px;
	}
}

.connect {
	display: flex;
	justify-content: space-around;
		button {
		min-width: 170px;
		padding: 20px 10px;
		border-radius: 50px;
		box-shadow: 0px 3px 27px 0px rgba(151, 159, 173, 0.75);
		cursor: pointer;
	  }

	  .follow {
	  	color: $primaryBlue;
	  	border: 1px solid #c3dffd;
	  	background-color: #fff;
	  }
	  .edit {
	  	color: #fff;
	  	background-color: $primaryBlue;
	  	border: none;
	  }
}

.rating {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
		span {
			display: block;
		}
}

.stars {
	display: flex;
	color: #ffbc0a;
}

.prof-inf-footer {
	text-align: center;
	color: #999da5;
	font-size: 14px;
}

.payment {
	li {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}