.profile {
	display: flex;
	padding: 35px;
	background-color: $primeryBackground;
	&__content {
		background-color: #fff;
		border-radius: 5px;
		color: #999da5;
		width: calc(66% - 30px);
		margin: 0 30px 80px 0;
		box-shadow: 0px 2px 20px 1px rgba(151,159,173,1);
	}

	&__sidebar {
		background-color: #fff;
		padding: 35px;
		width: 34%;
		box-shadow: 0px 2px 20px 1px rgba(151,159,173,1);
		border-radius: 5px;
	}


}