html,
body {
	box-sizing: border-box;
	font-family: Arial;
	height: 100%;	
	margin: 0;
	padding: 0;	
	width: 100%;	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: $primaryColor;
	text-decoration: none;
}
