$primaryHover: #f2f4f7;
$primaryBlue: #1585ff;
$primaryColor: #76797e;
$primeryBackground: #f8f8f8;
$fontColor: #76797e; 
$lggrey: #9a9fa7;
$darcktextColor:#1d2025;
$greenBorder: #c0f0c4;
$green: #0ac51b;
$blueBorder: #e0d8fb;
$blue: #886aef;