@import 'assets/reset';
@import 'assets/vars';
@import 'assets/mixins';

.header {
	padding: 20px 15px;
}

.nav {
	ul {
		display: flex;
		flex-direction: center;
		li {
			color: $white;
		}
	}
}

h1 {
	@include title;
}